{{ drupal_region('breadcrumb') }}
<main data-controller="{{slugify(title)|replace({'-':'_'})}}">
{% block container %}
  <div class="container">
    {{ page.content }}
  </div>
{% endblock %}
</main>
