@font-face {

    font-family:'averta-semibold';
    src:url('averta-semibold-webfont.woff2') format('woff2'), 
        url('averta-semibold-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
